@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:active,:hover,:focus{
  outline: 0 !important;
  outline-offset: 0;
}
a,a:hover{
  text-decoration: none;
}
a:hover{
  color:var(--hover-color) !important;
}
ul,ol{
  margin:0;
  padding: 0;
}

/* variable define */
:root{
  --primary-color:#FFC107;
  --secondary-color:#0DCAF0;

  --third-color:#f98169;
  --hover-color:#0a0a0a;
  --bg-color:#D5EFFA;
  --bg2-color:#FFFFFF;
  --white-color:#fff;
  --text-color:#555;
  --text-gray:#999;
  --black-color:#000;
  --primary-font: 'roboto','sans-serif';
  --secondary-font:'poppins','sans-serif';

}
html{
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
  background: #f0f4f8;
  color: #333;
}
header {
  width: 100%;
}

/* navbar */
.navbar {
  background-color:  #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); 
  z-index: 1000;
  position: sticky;
  top: 0;
}


.logo a {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: #0d6efd;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin-left: 1rem;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  color: #177;
}

.nav-links a:hover {
  color: #0d6efd;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

/* Search bar */
.search-bar input {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  width: 200px;
}

/* Streak icons */
.streaks span {
  font-size: 1.2rem;
  margin: 0 4px;
  cursor: default;
}

/* Profile/Login */
.profile a {
  background-color: #0d6efd;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.profile a:hover {
  background-color: #0b5ed7;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #000000;
  font-size: 0.9rem;
  color: #ffffff;
}