/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:active,:hover,:focus{
  outline: 0 !important;
  outline-offset: 0;
}
a,a:hover{
  text-decoration: none;
}
a:hover{
  color:var(--hover-color) !important;
}
ul,ol{
  margin:0;
  padding: 0;
}
/* variable define */
:root{
  --primary-color:#FFC107;
  --secondary-color:#0DCAF0;
  --third-color:#0f766e;
  --hover-color:#e70c7d;
  --bg-color:#D5EFFA;
  --bg2-color:#FFFFFF;
  --white-color:#fff;
  --text-color:#555;
  --text-gray:#999;
  --black-color:#000;
  --primary-font: 'roboto','sans-serif';
  --secondary-font:'poppins','sans-serif';

}
html{
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
  background: #f0f4f8;
  color: #333;
}
/* header {
  width: 100%;
} */

/* navbar */
#logo{
  height: 140px;
  width: auto;
  margin: auto 0;
}

     /* footer  */
footer {
  width: 100%;
  background-color: #424c5f;
  padding: .2rem;
  color: white;
  text-align: center;
}

.footer-container {
  width: 100%;
}

.footer-section {
  width: 100%;
  margin: .2rem;
}

.footer-section h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 0.5rem 0;
  font-size: 20px;
}

.footer-section a {
  text-decoration: none;
  color: #ffffff;
}

.footer-section a:hover {
  color: #0d6efd;
}

.social-media {
  width: 40%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.social-media li {
  margin-left: 0;
}

.social-media i{
    margin-right: 10px;
}

#facebook:hover{
  color: #0d6efd;
}

#x:hover{
  color: black;
}

#youtube:hover{
  color: red;
}

#instagram:hover{
  color: purple;
}

.foot-info{
  width: 30%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.copyright{
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
}




@media (max-width: 1200px){
  .social-media{
    width: 70%;
  }
  .foot-info{
    width: 60%;
  }
}

@media (max-width: 700px){
  footer{
    padding: 0;
    width: 100%;
  }
  .footer-section{
    margin: 0;
    padding: 1rem 0;
  }
  .foot-info{
    width: 90%;
  }
  .social-media{
    width: 35%;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
  }
}